body {
	font-family: "TT Lakes";
	background: #f8f8f8;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "TT Lakes";
	src: url(./font/TTLakes-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

button {
	border: none;
	background: none;
}

.main__section__title {
	display: none;
}

.header {
	background: #fff;
	width: auto;
	box-sizing: border-box;
	height: 88px;
	background: #fff;
	border-bottom: 1px solid #d9fff5;
}

.header__title {
	display: flex;
	align-items: center;
	gap: 16px;
	width: auto;
	height: 88px;
	padding: 16px 18px 24px;
}

.headar__icon {
	width: 40px;
	height: 40px;
}

.headar__icon__group {
	width: 97px;
	height: 51px;
	margin-right: auto;
}

.headar__icon__remove {
	display: none;
}

.main {
	min-width: 320px;
	padding-top: 24px;
	padding-bottom: 35px;
	background: #f8f8f8;
}

.main__title {
	display: flex;
	align-items: center;
	gap: 17px;
	margin-bottom: 24px;
}

.main__highlight {
	width: 4px;
	height: 40px;
	background: #41f6d7;
	border-radius: 0 2px 2px 0;
	margin-left: 0px;
	margin-top: 0px;
}

.main__text {
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.6px;
	color: #1b1c21;
	margin-left: 0px;
	margin-top: 0px;
}

.main__slide {
	display: flex;
	overflow-x: scroll;
	white-space: nowrap;
	margin-bottom: 24px;
	padding-bottom: 4px;
	min-width: 320px;
	margin-left: 16px;
	margin-top: 0px;
}

.main__slide__button {
	padding: 8px 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #7e7e82;
	background: transparent;
	border: 2px solid transparent;
	border-radius: 6px;
	transition: 0.2s;
}

.main__slide__button.main__slide--active {
	border-color: #b8ffec;
	background: #fff;
	color: #1b1c21;
}

.main__group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.main__group__content__text {
	max-width: 100%;
	margin-left: 16px;
	margin-top: 0px;
}

.main__group__long__text {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.2px;
	color: #1b1c21;
	margin-bottom: 16px;
}

	.main__group__content__text p + p {
		display: none;
	}

	.main__group__content__text p + p span {
		display: none;
	}

	.main__group__content__text p + p span + span {
		display: none;
	}

.main__group__readmore {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	width: fit-content;
}

.main__group__readmore__expand {
	width: 24px;
	height: 24px;
}

.main__group__readmore__text {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1b1c21;
}

.main__group__picture {
	width: 100%;
	height: auto;
	max-width: 358px;
	border-radius: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
	.header {
		width: auto;
		height: 88px;
		background: #fff;
		border-bottom: 1px solid #d9fff5;
	}

	.header__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 16px;
		height: 88px;
		padding: 16px 18px 24px;
	}

	.headar__icon {
		width: 40px;
		height: 40px;
		flex-shrink: 0;
	}

	.headar__icon__group {
		width: 97px;
		height: 51px;
		margin-right: auto;
	}

	.headar__icon__remove {
		display: block;
	}

	.main {
		background: #f8f8f8;
	}

	.main__title {
		display: flex;
		align-items: center;
		gap: 24px;
		margin-bottom: 24px;
		border-top: 1px solid #d9fff5;
	}

	.main__highlight {
		width: 4px;
		height: 40px;
		background: #41f6d7;
		border-radius: 0 2px 2px 0;
	}

	.main__text {
		font-size: 28px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: -0.6px;
		color: #1b1c21;
	}

	.main__section__title {
		display: none;
	}

	.main__slide {
		display: flex;
		overflow-x: scroll;
		white-space: nowrap;
		gap: 8px;
		margin-bottom: 32px;
		width: auto;
		margin-left: 24px;
	}

	.main__slide__button {
		width: auto;
		padding: 8px 16px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		color: #7e7e82;
		background: transparent;
		border: 2px solid transparent;
		border-radius: 6px;
	}

	.main__slide--active {
		border-color: #b8ffec;
		background: #fff;
		color: #1b1c21;
	}

	.main__group {
		display: flex;
		flex-direction: row;
		gap: 48px;
		align-items: flex-start;
		margin-left: 24px;
		height: 208px;
	}

	.main__group__content__text {
		width: auto;
		height: auto;
	}

	.main__group__long__text {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.2px;
		color: #1b1c21;
		margin-bottom: 16px;
	}

	.main__group__content__text p + p {
		display: block;
	}

	.main__group__content__text p + p span {
		display: block;
	}

	.main__group__content__text p + p span + span {
		display: none;
	}

	.main__group__readmore {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		width: auto;
	}

	.main__group__readmore__expand {
		width: 24px;
		height: 24px;
	}

	.main__group__readmore__text {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
	}

	.main__group__picture {
		width: 360px;
		height: 208px;
		border-radius: 6px;
		flex-shrink: 0;
	}
}

@media screen and (min-width: 1120px) {
	.header {
		display: none;
	}

	.main {
		width: 100%;
		background: #f8f8f8;
		padding-top: 42px;
		padding-right: 25px;
	}

	.main__title {
		display: none;
	}

	.main__section__title {
		display: flex;
		align-items: center;
		gap: 24px;
		margin-bottom: 8px;
	}

	.main__section__highlight {
		width: 4px;
		height: 40px;
		background: #41f6d7;
		border-radius: 0 2px 2px 0;
	}

	.main__section__title__text {
		margin-right: auto;
		width: auto;
	}

	.main__section__title__h3 {
		font-size: 28px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: -0.6px;
		color: #1b1c21;
	}

	.main__section__repair,
	.main__section__checkstatus {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
	}

	.main__section__repair span,
	.main__section__checkstatus span {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}

	.main__section__repair__img,
	.main__section__checkstatus__img {
		width: 40px;
		height: 40px;
	}

	.main__slide {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		width: auto;
		margin-left: 34px;
		margin-top: 16.22px;
	}

	.main__slide--active {
		border: 2px solid #b8ffec;
		background: #fff;
		color: #1b1c21;
	}

	.main__slide__button {
		display: flex;
		align-items: center;
		padding-left: 22px;
		padding-right: 22px;
		width: auto;
		height: 40px;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		color: #7e7e82;
	}

	.main__group {
		display: flex;
		flex-direction: row;
		gap: 36px;
		align-items: flex-start;
		margin-top: 16px;
		margin-left: 32px;
	}

	.main__group__content__text {
		flex: 1;
		width: auto;
	}

	.main__group__long__text {
		display: block;
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #1b1c21;
		margin-bottom: 24px;
	}

	.main__group__content__text p + p {
		display: block;
	}

	.main__group__content__text p + p span {
		display: block;
	}

	.main__group__content__text p + p span + span {
		display: block;
	}

	.main__group__readmore {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		width: auto;
	}

	.main__group__readmore__expand {
		width: 24px;
		height: 24px;
	}

	.main__group__readmore__text {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}

	.main__group__picture {
		width: 531px;
		height: auto;
		border-radius: 6px;
		flex-shrink: 0;
	}
}
