body {
	box-sizing: border-box;
	font-family: TT Lakes;
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: TT Lakes;
	src: url(./../font/TTLakes-Italic.ttf) format("opentype");
	font-weight: normal;
	font-style: italic;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	body {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.slidemenu {
		min-width: 430px;
		overflow: auto;
    white-space: nowrap;
	}
}

.background {
	width: 1120px;
	height: 535px;
	opacity: 1;
	margin-left: 1px;
	margin-top: 0px;
	background: #f8f8f8;
}

.group_17 {
  display: flex;
	width: 1096px;
	height: 130px;
	opacity: 1;
	margin-top: 42px;
  margin-left: 33px;
	border: 0px;
}

.main__title {
	display: flex;
	width: 266px;
	height: 40px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 0px;
}

.title__text__h3 {
  margin-left: 32px;
	margin-top: 0px;
}

.main__title__text {
	width: 233px;
	height: 40px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 0px;
  font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.6px;
	color: #1b1c21;
}

.highlight__long {
	width: 3px;
	height: 40px;
	opacity: 1;
	margin-left: -32px;
	margin-top: 0px;
  border-radius: 2px;
}

.repair__text {
  display: flex;
  width: 125px;
  height: 24px;
  opacity: 1;
  margin-top: 8px;
  margin-left: 450px;
}

.main__repair__text {
  width: 125px;
  height: 24px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.main__title__repair__img {
  width: 40px;
  height: 40px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 56px;
}               

.group__right {
  display: flex;
  width: 168px;
  height: 40px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
}

.checkstatus__text {
  display: flex;
  width: 119px;
  height: 24px;
  opacity: 1;
  margin-top: 8px;
  margin-left: 32px;
}

.group__right__checkstatus__text {
  width: 119px;
  height: 24px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.group__right__checkstatus__img {
  width: 40px;
  height: 40px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 9px;
}

.slidemenu {
	display: flex;
  flex-wrap: wrap;
  width: 1063px;
  height: 82px;
	opacity: 1;
	margin-top: 90px;
	margin-left: -275px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
  border-radius: 6px;
}

.button__slidemenu1 {
	margin-left: 0px;
	margin-top: 0px;
	width: 233px;
	height: 40px;
	border: none;
	background: none;
}

.button__slidemenu__text1 {
	width: 118.66px;
	height: 24px;
	opacity: 1;
	margin-top: 0px;
	margin-left: 0px;
	color: #7e7e82;
  font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.button__slidemenu__back1 {
	width: 233px;
	height: 40px;
	opacity: 1;
	margin-top: -30px;
	margin-left: 0px;
	border-width: 2px;
	border-radius: 6px;
	border: 2px solid #b8ffec;
}

.button__slidemenu2 {
	margin-top: 0px;
	margin-left: 0px;
	width: 254px;
	height: 40px;
	background: none;
	border: none;
}

.button__slidemenu__text2 {
	width: 219px;
	height: 24px;
	opacity: 1;
	margin-top: 0px;
	margin-left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
	color: #7e7e82;
}

.button__slidemenu__back2 {
	width: 254px;
	height: 40px;
	opacity: 1;
	margin-top: -30px;
	margin-left: 0px;
  border-width: 2px;
	border-radius: 6px;
}

.button__slidemenu3 {
  width: 233px;
  height: 40px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  background: none;
	border: none;
}

.button__slidemenu__text3 {
  width: 217px;
  height: 24px;
  opacity: 1;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.button__slidemenu__back3 {
  width: 233px;
  height: 40px;
  opacity: 1;
  margin-top: -30px;
  margin-left: 0px;
}

.button__slidemenu4 {
  width: 152px;
  height: 48px;
  opacity: 1;
  margin-top: -5px;
  margin-left: 0px;
  background: none;
	border: none;
}
.button__slidemenu__text4 {
  width: 118px;
  height: 39px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.button__slidemenu__back4 {
  width: 152px;
  height: 40px;
  opacity: 1;
  margin-top: -30px;
  margin-left: 0px;
}

.button__slidemenu5 {
  width: 191px;
  height: 36px;
  opacity: 1;
  margin-top: -5px;
  margin-left: 0px;
  border-radius: 6px;
  background: none;
	border: none;
}

.button__slidemenu__text5 {
  width: 162px;
  height: 28px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.button__slidemenu__back5 {
  width: 191px;
  height: 23.54px;
  opacity: 1;
  margin-top: -30px;
  margin-left: 0px;
}

.button__slidemenu6 {
  width: 95px;
  height: 40px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;
  background: none;
	border: none;
}

.button__slidemenu__text6 {
  width: 71px;
  height: 24px;
  opacity: 1;
  margin-top: 0px;
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

.button__slidemenu__back6 {
  width: 91px;
  height: 40px;
  opacity: 1;
  margin-top: -30px;
  margin-left: 0px;
}

.first__block {
  display: flex;
	width: 490px;
	height: 160px;
	opacity: 1;
	margin-left: 35px;
	margin-top: 38.22px;
}

.content__text {
	width: 490px;
	height: 160px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 0px;
}

.long__text {
  width: 490px;
	height: 160px;
	margin-left: 0px;
	margin-top: 0px;
	color: #1b1c21;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
}

.picture {
	width: 531.35px;
	height: 307px;
	opacity: 1;
	margin-left: -88.65px;
	margin-top: 47.25px;
	border-width: 2px;
}

.picture__img {
	width: 531.35px;
	height: 307px;
	opacity: 1;
	margin-left: 122.65px;
	margin-top: -37px;
	border-width: 2px;
}

.readmore {
	display: flex;
	flex-direction: row;
	width: 132px;
	height: 24px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 362px;
}

.expand__img {
	width: 24px;
	height: 24px;
	opacity: 1;
	margin-left: -500px;
	margin-top: -200px;
	z-index: 1;
}

.readmore__text {
	width: 100px;
	height: 24px;
	opacity: 1;
	margin-left: 0px;
	margin-top: -200px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
}
